.modal, .overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: white;
    border-radius: 15px;
    padding: 35px;
    flex-direction: column;
    row-gap: 24px;
}

.title {
    color: black;
    font-size: 32px;
}

.input-fields {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: space-between;
}

.button-fields {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
}

.cancel-button {
    background-color: var(--red);
}

.cancel-button:hover {
    background-color: var(--lightred);
}

.error-message {
    color: red;
    text-align: start;
    font-size: 14px;
}

.error-message::before {
    content: '* ';
}

.input-error {
    border: 1px solid red;
    background-color: var(--salmon);
}

.input-error::placeholder {
    color: red;
}

.input-error:focus {
    outline: none;
}

.food-name {
    font-weight: bold;
}

.modal-message {
    color: black;
}