header {
    display: flex;
    place-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 25%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 2em 0;
    row-gap: 16px;
    background-color: var(--darkgreen);
}

h1 {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
}

li a {
    font-weight: 500;
    color: var(--opaquegreen);
    text-decoration: inherit;
}
  
li a:hover {
    color: white;
}